 <!-- Footer -->
 <style>
  body {
      background-color: #f8f9fa;
      margin-bottom: 300px; /* Espacio para el footer */
  }
  .jumbotron {
      background-color: #343a40;
      color: #ffffff;
      margin-bottom: 0; /* Elimina el margen inferior por defecto */
  }

  .btn-call-to-action {
      margin-bottom: 200px; /* Separación del botón del footer */
  }
</style>
 <footer class="bg-dark text-white py-3 mt-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 text-center">
              <p>© 2024 Flanes deliciosos. Todos los derechos reservados.</p>
          </div>
      </div>
  </div>
</footer>
<!-- End Footer -->