{% extends 'base.html' %}
{% block 'content' %}
<style type="text/css">
	p {
      text-align: justify;  
    }
</style>
<div class="container-fluid px-5">
    <div class="container">
    <section>
        <h2>Acerca de nuestra empresa de flanes en línea</h1>
        <div class="container">
            
            <p>¡Bienvenido a nuestro mundo de deliciosos flanes!</p>
            <p>En nuestra empresa, la pasión por los postres ha sido una tradición familiar durante generaciones. Todo comenzó en la cocina de nuestra abuela, donde las recetas secretas y el amor por la repostería se transmitieron de generación en generación.</p>
            <p>Hoy, llevamos ese legado familiar a la era digital con nuestra tienda de flanes en línea. Cada flan que elaboramos está impregnado de la historia y la tradición de nuestra familia, junto con un toque moderno para satisfacer los paladares más exigentes.</p>
            <p>Nos enorgullece ofrecer una amplia variedad de sabores, desde el clásico flan de vainilla hasta el exótico flan de mango o el decadente flan de chocolate negro. Cada uno de nuestros flanes se elabora con los mejores ingredientes y con un cuidado artesanal que se puede saborear en cada bocado.</p>
            <p>Nuestra misión es llevar alegría a través de nuestros deliciosos postres y crear momentos especiales para nuestros clientes. Nos esforzamos por ofrecer no solo productos de alta calidad, sino también una experiencia de compra excepcional, desde el primer clic hasta el último bocado.</p>
            <p>Gracias por ser parte de nuestra historia y por permitirnos endulzar su vida con nuestros increíbles flanes. ¡Esperamos que disfrutes de cada momento dulce que compartimos juntos!</p>
        </div>
    </section>

    <section>
        <h2>Nuestra Misión</h2>
        <p>En OnlyFlans, nuestra misión es deleitar a nuestros clientes con flanes exquisitos y de alta calidad, elaborados con ingredientes frescos y naturales. Nos esforzamos por brindar una experiencia gastronómica única que satisfaga los paladares más exigentes.</p>
    </section>

    <section>
        <h2>Nuestro Equipo</h2>
        <p>Detrás de cada delicioso flan de OnlyFlans hay un equipo apasionado y comprometido con la excelencia. Nuestros chefs expertos se dedican a perfeccionar cada receta, mientras que nuestro equipo de atención al cliente trabaja arduamente para garantizar la satisfacción de cada cliente.</p>
    </section>
    </div>
</div>
{% endblock 'content' %}