{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

<section class="container mx-auto pt-5">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
      {% for flan in flanes %}
      <div class="col">
        <div class="card h-100">
          <a href="{% url 'flan_details' flan.id %}">
            <img src="{{ flan.imagen }}" height="200px" class="card-img-top" alt="{{ flan.slug }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text text-justify">
                {% if flan.descipcion|length > 100 %}
                    {{ flan.descipcion|slice:":100" }}... <a href="">descripcion</a>
                {% else %}
                    {{ flan.descipcion }}
                {% endif %}
            </p>
        </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
          <p>precio :</p>{{ flan.precio }}
        </div>
      </div>
    {% endfor %}  
  </div>
</section>
{% endblock 'content' %}
